# CakePHP 3

/vendor/*
/config/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/logs/*
!/tmp/logs/empty
/tmp/tests/*
!/tmp/tests/empty
/tmp/uploads/*
!/tmp/uploads/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

# z0G cusstom
/.git/*
/.svn/*
/userfiles/files/avatar_employ/*
!/app/webroot/shared/empty
/config/core.php
/config/database.php
config/core.php
config/database.php
/app/webroot/img/avatar/*
/app/webroot/shared/*
!/app/webroot/shared/sample-projects.csv
/tmp/cache/cake_*
/tmp/cache/logs/*
!/tmp/cache/logs/empty
/tmp/cache/sessions/*
!/tmp/cache/sessions/empty
/tmp/cache/uploads/*
!/tmp/cache/uploads/empty
/tmp/cache/plugins/*
!/tmp/cache/plugins/empty
/tmp/cache/config/*
!/tmp/cache/config/empty
/tmp/cache/cake/*
!/tmp/cache/cake/empty
/tmp/cache/userfiles/*
!/tmp/cache/userfiles/empty
!/config/*-example*
cake/libs/error.php
# END z0G cusstom
app/webroot/js/extjs/extjs/ext5.old.beauty.js
app/webroot/js/extjs/extjs/ext5.old.min.js


# Visual Studio 
.vs/*
app/webroot/js/extjs/extjs/ext5.beautifier.js
app/webroot/js/extjs/extjs/ext5.min.js
.project
/.buildpath
*.komodoproject
.settings/
