
.tasks-special-list {
	background: url(../images/add-2.png) no-repeat center;
}

.tasks-delete-list {
	background: url(../images/remove.png) no-repeat center;
}
.tasks-new-list {
	background: url(../images/add.png) no-repeat center;
}
.ext-edit-task {
	background: url(../images/edit_task.png) no-repeat center;
}
.x-menu-item-link {
	text-decoration: none !important;
}
.x-tree-icon-special {
	background: url(../ext-theme-neptune/images/tree/folder-special.png) no-repeat center !important;
}

.x-tree-icon-part {
	background: url(../ext-theme-neptune/images/tree/folder-part.png) no-repeat center !important;
}

.x-save {
	background: url(../images/save.png) no-repeat center;
}
.x-cancel {
	background: url(../images/cancel.png) no-repeat center;
}
.x-check {
	background: url(../images/check1.png) no-repeat center;
}
.x-uncheck {
	background: url(../images/uncheck.png) no-repeat center;
}

.x-edit {
	background: url(/img/edit.png) no-repeat center;
}

.has-filter .x-column-header-trigger {
	background-image: url(/js/extjs/extjs/ext5-packages/ext-theme-neptune/build/resources/images/grid/hd-pop-active.png);
}